body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0E121D;
}

@font-face {
    font-family: neonFont ;
    src: url(font.otf);
}

* {
box-sizing: border-box;
}

h1{
    font-family: neonFont;
    color: #491977; 
    font-size: 60px;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 27px #491977,
    0 0 62px #491977,
    0 0 72px #491977,
    0 0 85px #491977,
    0 0 150px #491977;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.controllers{
    border: 0.2rem solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 33rem;
    width: 14rem;
    border-radius: 18px;
    margin-right: 11rem;
    background-color: #1C2749;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #5271ff,
            0 0 0.8rem #5271ff,
            0 0 2.8rem #5271ff,
            inset 0 0 .5rem #5271ff; 
}

#container{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-color: #fff;
    height: 33rem;
    width: 33rem;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #0fa,
            0 0 0.8rem #0fa,
            0 0 2.8rem #0fa,
            inset 0 0 0 #0fa; 
    background-color: #fff;
    border: 0;
}

.cell{
    flex: 0 0 calc(100% / var(--size));
    border: 0 solid grey;
    height: calc(100% / var(--size));
    width: calc(100% / var(--size));
}   

button{
    height: 2.5rem;
    width: 10rem;
    border-radius: 8px;
    border-style: none;
    transition: transform .2s; 
}

button:hover{
    transform: scale(1.08);
    box-shadow:
    0 0 0.8rem black,
    inset 0 0 0 black; ;
}

.active{
    transform: scale(1.08);
    box-shadow:
    0 0 0.8rem black,
    inset 0 0 0 black; ;
}

.gridSelector{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridSelector > p{
    font-size: 20px;
    color: antiquewhite;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}   

input[type="range"]{
    appearance: none;
    height: 0.5rem;
    border-radius: 20px;
    width: 10rem;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    height: 1.2rem;
    width: 1.2rem;   
    border-radius: 25px;
}

input[type="color"]{
    appearance: none;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 35px;
}
input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 35px;
}

footer{
    display: flex;
    color: white;

    justify-content: center;
    height: 3.5rem;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(0, 0, 255);
}
